body{
    background-size: cover;
}

#heading{
    font-size: 25px;
    width: 100%;
    margin-top: 0px;
}

#note{
    color: black;
    font-size: 17px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(215, 142, 47);
}